body {
  display: flex;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  height: 50vh;
  width: 50vh;

  display: flex;
  flex-direction: column;
  align-items: center
  justify-content: flex-start;
}

#container img {
  width: 100%;         /* prend toute la largeur du conteneur */
  height: auto;        /* adapte la hauteur pour garder le ratio */
}

#container input {
  width: 100%;
  height: 32px;
  line-height: 32px;
  font-size: 24px;
  padding: 0 4px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
