body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#container {
  height: 50vh;
  width: 50vh;
}

#container input {
  width: 100%;
  height: 32px;
  line-height: 32px;
  font-size: 24px;
  padding: 0 4px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
