.btn-primary {
  display: inline-block;
  background-color: #0d6efd;
  padding: 16px 36px;
  margin-top: 12px;
  border-radius: 50px;
  color: white;
}

.btn-secondary {
  border: 1px solid #1EDD88;
  padding: 8px 16px;
  border-radius: 50px;
  color: #0d6efd;
}
