.footer {
  text-align: center;
  padding: 60px;
  background-color: #343a40;
}

.footer a {
  font-size: 30px;
  color:  #adb5bd;
}

.footer p {
  color: #adb5bd;
}

.footer .fas {
  color: #BF0F12;
}
