/* Import fonts from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@300;400;500;700");

/* Importing all components file */
@import url("components/cards.css");

/* General for fonts and colors */
body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: Open-sans, sans-serif;
}
h1, h2, h3 {
  font-family: Raleway, Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 10px;b
}
p {
  margin-bottom: 40px;
}
a {
  text-decoration: none;
}
span {
  color: #999999;
  font-size: 20px;
  font-weight: lighter;
}
.text-center {
  text-align: center;
}

.container {
  width: 500px;
  margin: 0 auto;
}