.blue, .blue > th {
  color: blue;
}

.table > :not(caption) > * > * {
  background-color: transparent;
}

.error, .success {
  padding: 0.5em;
  margin-bottom: 0.2em;
}

.error {
  background-color: red;
  color: white;
}

.success {
  background-color: lightgreen;
}

#results-wrapper, #results-wrapper #results  {
  position: relative;
}
