name: Generate Kitt Preview Link

on:
  pull_request:
    types: [opened, reopened]
jobs:
  comment:
    if: ${{ github.repository_owner == 'lewagon' }}
    uses: lewagon/.github/.github/workflows/content-preview-kitt.yml@main
